@base-color: #283645;
@bg-color: #f2f2f2;
@white: #ffffff;
@white-transp: rgba(255, 255, 255, 0.3);
@black: #000000;
@hover-color: #d22856;
@cancel-btn: rgba(40, 54, 69, 0.1);
@cancel-hover: rgba(40, 54, 69, 0.3);
@link-active: rgba(210, 40, 86, 0.3);
