.advantages {
  text-align: center;
  background-color: @bg-grey;
}

.advantages__text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 44px;
  padding-bottom: 30px;
  background-color: @white;
}

.advantages__action {
  display: block;
  margin-bottom: 28px;
  .center-container;
}

.advantages__list {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 115%;
  padding-bottom: 305px;
  .ul-reset;
}

.advantages__item {
  .center-container;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  color: @black;
  font-weight: 700;
}

.advantages__description {
  line-height: 24px;
}
