.copyright__text {
  margin: 0;
}

.copyright__link {
  position: relative;
  top: 14px;
  left: -1px;
  margin-left: 12px;
}

.copyright__image {
  fill: @hover-color;

  &:hover {
    fill: @base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    position: relative;
    top: 15px;
    margin-left: 11px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-left: 9px;
  }
}
