.download {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 30px;
  background-color: @base-color;
  .center-container;
}

.download__title {
  display: none;
}

.download__app {
  margin-bottom: 30px;
}

.download__platform {
  margin-bottom: 24px;
}

.download__annotation {
  color: @white;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .download {
    width: 300px;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .download__title {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: @white;
    margin-bottom: 30px;
  }

  .download__app {
    margin-bottom: 45px;
  }

  .download__platform {
    margin-bottom: 38px;
  }

  .download__annotation {
    font-size: 18px;
  }
}
@media (min-width: @desktop-width) {
  .download__title {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 50px;
  }

  .download__app {
    margin-bottom: 65px;
  }

  .download__platform {
    margin-bottom: 59px;
  }
}
