.main-nav {
  font-size: 18px;
  color: @white;
  position: relative;
}

.main-nav__wrapper {
  background-color: @base-color;
  border-bottom: 1px solid @black;
}

.main-nav__top {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  .center-container;
}

.main-nav__list {
  text-align: center;
  .ul-reset;
}

.main-nav--opened .main-nav__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;


  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 30px;
    height: 5px;
    background-color: @white;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 30px;
    height: 5px;
    background-color: @white;
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: @hover-color;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: @hover-color--30;
    }
  }
}

.main-nav--closed .main-nav__toggle {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    background-color: @white;
    box-shadow: 0 10px 0 0 @white, 0 20px 0 0 @white;
  }

  &:hover {
    &::before,
    &::after {
      background-color: @hover-color;
      box-shadow: 0 10px 0 0 @hover-color, 0 20px 0 0 @hover-color;
    }
  }

  &:active {
    &::before {
      background-color: @hover-color--30;
      box-shadow: 0 10px 0 0 @hover-color--30, 0 20px 0 0 @hover-color--30;
    }
  }
}

@media (max-width: @mobile-tablet-width) {
  .main-nav--closed .menu-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    background-color: @black--30;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-bottom: 0;
  }

  .main-nav__top {
    width: 620px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 41px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 0;
  }

  .main-nav__wrapper {
    border: none;
    background-color: transparent;
  }

  .main-nav__top {
    display: block;
    padding: 0;
    width: 147px;
    margin: 0;
  }

  .main-nav__list {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .main-nav__logo {
    margin-top: 23px;
  }

  .main-nav__toggle-wrapper {
    display: none;
  }
}
