.main-nav {
  padding-top: 69px;
  font-size: 18px;
  color: @white;
  position: relative;
}

.main-nav__wrapper {
  text-align: center;
}

.main-nav__list {
  .ul-reset;
}

.main-nav__toggle {
  position: absolute;

  &::before {
    content: "";
    width: 30px;
    height: 5px;
    background-color: @white;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    width: 30px;
    height: 5px;
    background-color: @white;
    transform: rotate(-45deg);
  }
}
