.rates {
  background-color: @bg-color;
  padding-bottom: 46px;
}

.rates__item {
  width: 100%;
}

.rates__string-option {
  background-color: @white;
}

.rates__name {
  background-color: @base-color;
  font-size: 18px;
  line-height: 30px;
  color: @white;
  font-weight: bold;
  text-transform: uppercase;
}

.rates__price {
  font-size: 24px;
  font-weight: 300;
}

.rates__option {
  line-height: 30px;
  text-transform: uppercase;
}

.rates__toggles {
  text-align: center;
}
