.user-post {
  margin-bottom: 20px;

  &--panorama {
    width: 100%;
  }

  &--title {
    font-size: 0;
    line-height: 0;
  }
}

.user-post__image {
  width: 100%;
}

.user-post__message {
  background-color: @bg-grey;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 25px;
  padding-left: 18px;
  box-sizing: border-box;
  .center-container;
}

.user-post__image-block {
  font-size: 0;
  line-height: 0;
  .center-container;
}

.user-post__user-name {
  margin: 0;
  line-height: 24px;
  font-weight: 700;
}

.user-post__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-post__text {
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.user-post__rating {
  font-size: 12px;
  line-height: 24px;
  color: @hover-color;
  text-transform: uppercase;
}
